Source/CasualHeroes.Web/bin/CasualHeroes.Web.dll
Source/CasualHeroes.Web/bin/CasualHeroes.Web.pdb
Source/CasualHeroes.Web/bin/CasualHeroes.Web.Models.dll
Source/CasualHeroes.Web/bin/CasualHeroes.Web.Models.pdb
Source/CasualHeroes.Web.Models/bin/CasualHeroes.Web.Models.dll
Source/CasualHeroes.Web.Models/bin/CasualHeroes.Web.Models.pdb
Source/CasualHeroes.Web/obj/
Source/CasualHeroes.Web.Models/obj/
Source/CasualHeroes.Web.v11.suo
Source/CasualHeroes/

.swp
*~
.orig
