@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div>
	    <form method="POST">
		    Title: <input name="Title"/><br/>
		    Description: <input name="Description"/><br/>
		    Address: <input name="Address"/><br/>
		    Tags: <input name="Tags"/><br/>
		    Latitude: <input name="Latitude"/><br/>
		    Longitude: <input name="Longitude"/><br/>
		    StartDate: <input name="StartDate" type="datetime"/><br/>
		    EndDate: <input name="EndDate" type="datetime"/><br/>
		    CreatedBy: <input name="CreatedBy"/><br/>
			<button>Submit</button>
	    </form>
    </div>
</body>
</html>
