@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div>
	    <form method="POST">
		    <button>Are you sure?</button>
	    </form>
    </div>
</body>
</html>
