@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Casual Heroes</title>
</head>
	<body>
		<h1>Admin</h1>
		<ul>
			<li><a href="Requests">Requests</a></li>
			<li><a href="Users">Users</a></li>
			<li><a href="Tags">Tags</a></li>
			<li><a href="AcceptedRequests">AcceptedRequests</a></li>
		</ul>
	</body>
</html>
