<!DOCTYPE html>
<html lang="en-gb" dir="ltr">
<head>
<meta charset="utf-8">
<title>Casual Heroes</title>
<meta name="description" content="Casual Heroes">
<meta name="keywords" content="Casual Heroes">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no, target-densitydpi=device-dpi">
<style>
body{margin:0;padding:0;font-family:Arial,sans-serif}.jshide{display:none}
</style>
<link href="Content/css/jss.css" rel="stylesheet" media="all">
<noscript><style>.jshide{display:block}.dn,.nshide{display:none}</style></noscript>
<link rel="shortcut icon" href="Content/favicon.ico">
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?keyAIzaSyBwNlvB1Ofm38Brm69PSTjOEAcoAEM5fF0&sensor=true">
</script>
</head>
<body>
<script>
	var Win=window,M=Math,WD=Win.document;
	Win.jss={
		boot:{start:new Date()-0},nav:{IE:0},
		resize:function(){
		var w=Win.innerWidth||WD.documentElement.clientWidth,
			h=Win.innerHeight||WD.documentElement.clientHeight;
		if(!Win.fontsized)Win.fontsized=1,
			WD.body.style.fontSize=.1*M.round(67*M.log(.013*M.sqrt(w*w+h*h)))+'px'
		}
	};
	Win.onresize=jss.resize;jss.resize()
</script>

<a id="content" href="#content"></a>

<div id="field" class="tac">
<article>
	<section class="m0a db">
		<p class="tac" style="padding:0 2em"><img class="wide" style="max-height:12em" src="Content/img/CH.png" alt="Casual Heroes"></p>
		<div class="half dib fl bsb">
			<header class="butlink p10 db anamur arrow" data-klik="jss.hash.go2('Help');">
				I can help!
			</header></div>
		<div class="half db fl bsb">
			<header class="butlink p10 db anamur arrow" data-klik="jss.hash.go2('Need');">I need help!</header>
			</div>
		<br>
		<div class="half db m0a bsb">
			<header class="butlink p10 db anamur arrow" data-klik="jss.hash.go2('Local');">What's near me?</header>
		</div>
		<br>
		<br>
		<div class="half db m0a bsb">
			<header class="butlink p10 db anamur arrow" data-klik="jss.hash.go2('About');">About</header>
		</div>
		<br>
	</section>
</article>
</div>
<footer class="wide tac small pab">Built at the DMGT Hackathon.</footer>

<div id="c_NeedDetails" class="dn">
	<br>Additional Details?<br>
	<input id="addinfo" type="text" class="phi1"><br>
	Duration: (hours)<br>
	<input id="duration" type="text" class="phi0" value="1"><br>
	<div class="butlink dib m0a" data-klik="hero.newPlea()">Done</div>
</div>

<div id="c_CreateAccount" class="dn">
	Please create an account:
	<div class="phi0 dib tar">Name:</div><input id="name" type="text" class="phi0 dib bsb" value=""><br>
	<div class="phi0 dib tar">E-Mail:</div><input id="email" type="text" class="phi0 dib bsb" value=""><br>
	<div class="phi0 dib tar">Phone:</div><input id="phone" type="text" class="phi0 dib bsb" value=""><br>
	<div class="butlink dib m0a" data-klik="hero.newUser()">Done</div>
</div>


<div id="c_About" class="dn">
<h1>About</h1>
<article>Casual Heroes connects people who need a hand with people willing to help.</article>
</div>

<script src="https://casualheroes.azure-mobile.net/client/MobileServices.Web-1.0.0.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>

<script>
var scripts=['boot','core','hash','touch','starfield','casualheroes'];
for(var i=0;i<scripts.length;i++)
	WD.write('<script src="Content/js/'+scripts[i]+'.js"><\/script>');
</script>
</body></html>